body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #8EC5FC;
    background: linear-gradient(64deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.captcha {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 20px 40px;
}

.btn-start {
    outline: 0;
    border: 2px solid #aaa;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    transition: .3s ease-in-out all;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-left-color: #09f;
    -webkit-animation: spinner .8s linear infinite;
    -moz-animation: spinner .8s linear infinite;
    -ms-animation: spinner .8s linear infinite;
    -o-animation: spinner .8s linear infinite;
    animation: spinner .8s linear infinite;
}

.spinner {
    -webkit-animation: spinner 8s linear infinite;
    -moz-animation: spinner 8s linear infinite;
    -ms-animation: spinner 8s linear infinite;
    -o-animation: spinner 8s linear infinite;
    animation: spinner 8s linear infinite;
}

.welcome-text {
    color: #444;
    margin: 0 20px;
    font-size: 18px;
}

.icon {
    width: 65px;
    height: 65px;
}


/* */

.modal-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    transition: .3s ease-in-out all;
    background-color: #0008;
    opacity: 0;
}

.modal-background[show="true"] {
    opacity: 1;
}